$primary: #FF3CAC;
$secondary: #784BA0;
$light: #e2e2ea;
$body-bg: #ffffff;
$dark: #27292f;
$body-bg-dark: #202226;
$border-radius: 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  height: 100%;
  overflow: auto;
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@media screen and (max-width: 576px) {
  .media {
    display: none;
  }
}

input {
  transition: all 0.6s;
}